<div class="card" id="eph-status-card">
  <div class="card-body">
  	{{- if .Title }}
  	<h2>{{ .Title }}</h2>
  	{{- else }}
  	<h2 class="sr-only">Post by Evan Hildreth</h2>
  	{{ end -}}
  	<div id="eph-status-body">
    {{ .Content }}
    </div>
    <p id="eph-status-meta"><a href="{{ .Permalink }}">
    	Posted at {{ .Date.Local.Format "3:04 PM on January 2, 2006" }}
    </a></p>
    <p>
    {{- if isset .Params "source_url" }}
		<a class="badge badge-primary" href="{{ .Params.source_url }}">
			{{ if isset .Params "source_title" }}Source: {{ .Params.source_title }}{{ else }}Source{{ end }}
		</a>
		{{ end -}}
    <a href="#" class="badge badge-info">{{ .Params.post_type }}</a>
    {{- with .Params.tags -}}
      {{- range . }}
        <a class="badge badge-secondary" href="{{ "tags" | absURL }}{{ . | urlize }}">#{{ . }}</a> </li>
      {{- end -}}
    {{- end }}
    </p>
  </div>
</div>